[Unit]
Description=Telegram bot for notification about started streams
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/stream-alert-bot
ExecStart=/usr/local/stream-alert-bot/bot
Restart=on-failure
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target